:root {
  --color-primary: #333333;
  --color-white: #f1f1f1;
  --color-grey: #dedede;

  --dimen-flex-gap: 1rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  box-sizing: inherit;
  background-color: var(--color-white);
  position: relative;
}

.main {
  width: 30rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--dimen-flex-gap);
}

.btn {
  all: unset;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  text-align: center;
}

.form {
  margin: 1.6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  gap: var(--dimen-flex-gap);
}

.form__fieldset {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: var(--dimen-flex-gap);
  flex-grow: 0.9;
}

.input__txt {
  all: unset;
  border: 0.175rem solid var(--color-primary);
  border-radius: 0.5rem;
  padding: 0.85rem 1.5rem;
}

.submit {
  align-self: end;
}

.list {
  width: 100%;
}
